:root {
    --primary-color: blue;
    --text-color: gray;
    --background-light: skin;
    --header-height: 100vh;
}

,
::before::after {
    box-sizing: border-box;
}

html {
    font-size: 110%;
}
body {
    margin: 0;
    padding: 0;
    color: rgba(78, 127, 138, 0.867);
    line-height: 1.5;
    overflow-x:hidden;
    background-image: url(bg.jpg);
}

.header-background {
    background: linear-gradient(rgba (255, 254, 253, 0.7), rgba(255, 254, 253, 0.9)), url(image.png) center center fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.header-content img {
    max-width: 250px;
    border-radius: 50%;
}
.header-content h1,
.header-content p {
    margin: 0.5rem 0;
    color: black;
}

#About {
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 0.5%;
    text-align: center;
}
.Portfolio-Photo {
    max-width: 40%;
    height: auto;
    border-radius: 50%;
}

#Skills {
    background-color: rgb(163, 206, 222);
    padding: 15px;
    border-radius: 0.5%;
    text-align: center;
    text-decoration: dotted;
}

#Portfolio {
    background-color: rgb(58, 153, 249);
    color: black;
    padding: 15px;
    border-radius: 0.5%;
    text-align: center;
    margin-bottom: 10px;
}
.project {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    line-height: 200px;
}

#Contact {
    background-color: #ffbc4b;
    padding: 15px;
    border-radius: 0.5%;
    text-align: center;
}

#text {
    background-color: #ccc;
    padding: 15px;
    border-radius: 0.5%;
    text-align: center;
}

#Navigation {
    background-color: #fbfdfa;
    padding: 15px;
    border-radius: 0.5%;
    text-align: center;

}
.td-btn {
    padding: 12px 36px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    background-color: #0fbfbf;

}
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}